.section-formulaire {
    min-width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-control:focus {
    border-color: 2px #0c056d !important;
}

.text-description {
    margin-top: 230px;
}

.dialog-modale-form {
    color: #000 !important;
}

/* style du formulaire après avoir scrollé la bar de navigation */

.ftco-navbar-light.scrolled .btn-connexion {
    background: #160f30;
    border: 2px solid #ed0cef;
    font-weight: bold;
}

.ftco-navbar-light.scrolled .btn-connexion:hover {
    color: #ed0cef;
}

.ftco-navbar-light.scrolled .input-connection {
    border: none;
    outline: none;
    padding-left: -300px;
    /* border-bottom: 2px solid #160f30 !important; */
}

.ftco-navbar-light .btn.btn-outline-primary {
    border: 2px solid #ffffff;
}

/* les icones dans les formulaires */
.ftco-navbar-light.scrolled .par-defaut {
    color: #160f30;
}

.ftco-navbar-light.scrolled .label-connexion {

    color: #160f30;
}

.input-connection {
    /* border: none; */
    outline: none;
    padding-left: -300px;
    border: 2px solid #ffffff !important;
}

.btn-connexion {
    height: 48px !important;
    font-weight: bold;
}

.formulaire-connexion {
    background: #6c757d;
    display: flex;
    flex-direction: column-reverse;
    margin: 1.2em 0;
}


.par-defaut {
    color: #ffffff;
}

.btn-formulaire-achat {
    padding-left: 60px;
    padding-right: 60px;
}

.contenu-du-recherche {
    margin-top: 60px;
}

.card {
    background: rgba(255, 255, 255);
    box-shadow: 0 3px 3px 0 #999393;
    /* height: 100px; */
}

.section-footer {
    background: #160f30;
    color: #fff;
}

.modal input {
    font-weight: bold;
    color: #160f30 !important;
}

.modal label,
.formulaire-contact label {
    color: rgba(0, 0, 0, 0.5);
}

.input-date {}

.barre {
    width: 20%;
}

.titre-card-compagnie {
    color: #160f30 !important;
    font-size: 16px;
    font-weight: bold;
}

.bare-vertical {
    height: 100%;
    width: 3px;
    background-color: #0c056d;
}


.prix {
    font-size: 25px;
    font-weight: bold;
}

.navbar-wrap .lien-partenaire {
    font-weight: 200;
    font-size: 20px;
}

.card-connexion {
    background: #160f3081;
    opacity: 0.7;
    color: #ffffff;
}

.card-connexion .card-header {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.card-connexion .input-connection:focus {
    border: 2px solid #0c056d !important;
}

.card-connexion .input-connection {
    font-weight: bold;
    color: #6c757d;
}

.titre-agence {
    font-size: 60px;
    font-weight: bold;
}

.text-header {
    font-size: 25px;
    font-style: italic;
}

.check-perso {
    border: 3px solid #ed0cef;
}

.check-perso:checked {
    background: #ed0cef;
    border-radius: 0;
    border: 3px solid #ed0cef;
}

.img-paiement {
    width: 50px;
    height: 50px;
}

.form-radio .radio input~.checkmark,
.form-check .checkbox input~.checkmark {
    border: 2px solid #160f30;
    -webkit-transition: .01s;
    -o-transition: .01s;
    transition: .05s;
}

input:valid {
    border: 2px solid #64e291;
}

.shadow {
    box-shadow: 0 1px 1px 0 #d3d2d2;
    border-radius: 5px;
    padding-top: 10px;
}

.shadow:hover {
    box-shadow: 0 2px 2px 0 #a39e9e;
    cursor: pointer;
}

.infos-voyage {
    padding-left: 50px;
    text-align: justify;
}

.icon-agence {
    padding: 20px;
    border: 2px solid #160f306b;
    width: 50;
    height: 50;
    border-radius: 50%;
    margin-right: 20px;
}

.p-icone-agence {
    margin-top: 60px;
}

.icon-agence:hover {
    margin-top: 60px;
    background: #ed0cef;
    transition-duration: 0.5s;
    cursor: pointer;
}


.page-accueil {
    margin-top: 60px;
}

.titre-accueil {
    font-size: 30px;
    margin-top: 60px;
    font-weight: bold;
}

/* .text-choix-accueil{
    font-size: 30px;
    font-weight: bold;
} */
.description-accueil {
    font-size: 18px;
    font-weight: bold;
}


.bg-image {
    background: url("../images/carte-1.jpg") no-repeat;
    background-position: right;
    background-size: 400px;
    background-position-x: 100%;
    background-blend-mode: overlay;
    
    /* height: 650px; */
    /* padding: 60px 0 0 0; */
}

hr, .hr-menu {
    display: block;
    clear: both;
    height: 0;
    margin: 40px 0 80px;
    padding: 0;
    border: 0;
    font-family: arial;
    text-align: center;
    font-size: 30px;
    line-height: 1;
}

hr:after {
    content: "\273D \273D \273D \273D \273D \273D";
    height: 0;
    letter-spacing: 1em;
    color: #fd5f00;
}

.hr-menu:after {
    content: "\273D \273D \273D";
    height: 0;
    letter-spacing: 1em;
    color: #fd5f00;
}

.titre-menu{
    font-weight: bold;
}

#id_username, #id_password {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    /* border: 2px solid var(--primary); */
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

}

.notification{
    color: #fd5f00;
    font-size: 15px;
}

.actif:hover{
    background-color: #07689f;
    border-radius: 2px;
}

.logo-profil{
    background-color: #fd5f00;
    font-weight: bold;
    font-size: 30px;
    border-radius: 50%;
}
.lien-envoie{
    font-size: 30px;
    color: #0c056d;
    border-color: 1px solid #0c056d;
}
.form-chat:focus{
    border-radius: 5px;
    
}

.scroller {
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    bottom: 0;
  }

.titre{
    font-size: 30px;
    font-weight: bold;
}

input[type='image']{
    font-size: 70px;
    padding: 20px;
    background-color: #07689f;
    width: 100%;
    border-radius: 5px;
}

.Button-animationWrapper-child--primary{
    background-color: #0c056d;
}

.stripe-button-el{
    padding: 20px !important;
}

.Header-purchaseDescription{
    background-color: #0c056d;
    color: white;
    font-size: 30px;
    content: "Payer par carte visa";
}
.u-textTruncate{
    color: white;
    font-size: 30px;
}
.stripe-button .Header-purchaseDescription{
    content: "Payer par carte visa";
}

@media (max-width: 767px){

    .titre-accueil {
        font-size: 15px;
        margin-top: 20px;
    }

    .description-accueil {
        font-size: 12px;
    }
    .bg-image {
        background-image: none;
    }
    .description-bouton{
        display: none;
    }
    hr:after {
        content: "\273D \273D \273D";
    }
    .navbar-perso{
        background-color: #0c056d;
    }
    .navbar-expand-lg nav{
        padding-left: 20px;
    }

    .page-accueil {
        margin-top: 20px !important;
    }
    
}

@media (max-width: 500px){
    body{
        font-size: 14px;
    }
    .identifiant-cache{
        display: none;
    }
    .dure-cache{
        display: none;
    }
    
    .pl-0, .px-0{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}