{% extends 'base/base.html' %}
{% load static %}

{% block header %}

<section>
    <div class="container">
        <div class="row slider-text px-4 d-flex align-items-center justify-content-center">
            <div class="page-accueil">
                <h2 class="text-primary mt-5 animated fadeInLeft"></h2>
                
            </div>
        </div>
    </div>
</section>

{% endblock header %}


{% block body %}

    <section class="container my-4">
        <h2 class="text-warning titre">Finalisez votre achat | </h2> <h5>Choisissez le moyen de paiement qui vous convient</h5>
        <div id="" class="no-uicustom mb-4 barre"></div>
        
        <div class="modal-header tabulation-2">
            <ul class="nav nav-pills nav-fill d-md-flex d-block w-100 bg-info">
                <li class="nav-item">
                    <a class="nav-link active py-3" data-toggle="tab" href="#mobile">Paiement mobile</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 h-100" data-toggle="tab" href="#paypal">Payez par PayPal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 h-100" data-toggle="tab" href="#carte-visa">Payer par carte de crédit</a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="mobile">
                <div class="row">
                    <div class="col-md-5">
                        <form action="" method="post">
                            <div class="form-group">
                              <label for="">Numéro de téléphone</label>
                              <input type="tel" name="" id="" class="form-control" placeholder="Numéro de téléphone" required aria-describedby="helpId">
                              <small id="helpId" class="text-info">Vous percevrez un message de confirmation</small>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="" class="px-5 btn btn-info">Validez le paiement</a>
                            </div>
                        </form>
                        <div class="text-center bg-primary mt-5 p-3 rounded">
                            <h3 class="text-white">{{voyage.prix}} KMF = {{prix|floatformat:2}} € </h3>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <table class="table">
                            <tbody>
                                <tr class="border-0">
                                    <td><b>Compagnie</b></td>
                                    <td><b class="infos-voyage">{{ voyage.agencePrincipal }}</b></td>
                                </tr>
                                <tr>
                                    <td><b class="">Ville de depart</b></td>
                                    <td><b class="infos-voyage">{{ voyage.villeDepart }}</b></td>
                                </tr>
                                <tr>
                                    <td><b class="">ville de destination</b></td>
                                    <td><b class="infos-voyage">{{ voyage.villeArrivee }}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Date de depart</b></td>
                                    <td><b class="infos-voyage">{{ voyage.dateDepert }}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Date d'arrivée</b></td>
                                    <td><b class="infos-voyage">{{ voyage.dateArrivee }}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Heur du trajet</b></td>
                                    <td><b class="infos-voyage">{{ heur }}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="paypal">
                <div class="row">
                    <div class="col-md-5">
                        <div class="formulaire-paypal my-3">
                            <h4>Finalisez votre paiement par PayPal!</h4>
                            <div id="" class="no-uicustom barre bg-info mb-3"></div>
                            <!-- writes out the form tag automatically -->
                            <div class="mt-5">
                                {{ formPaypal.render }}
                            </div>
                        </div>
                        
                        <div class="text-center bg-primary mt-5 p-3 rounded">
                            <h3 class="text-white">{{voyage.prix}} KMF = {{prix|floatformat:2}} € </h3>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <table class="table">

                            <thead>
                                <h4 class="bg-primary text-white p-2 rounded">Information de votre voyage</h4>
                            </thead>
                            <tbody>
                                <tr class="border-0">
                                    <td><b>Compagnie</b></td>
                                    <td><b class="infos-voyage">{{ voyage.agencePrincipal }}</b></td>
                                </tr>
                                <tr>
                                    <td><b class="">Ville de depart</b></td>
                                    <td><b class="infos-voyage">{{ voyage.villeDepart }}</b></td>
                                </tr>
                                <tr>
                                    <td><b class="">ville de destination</b></td>
                                    <td><b class="infos-voyage">{{ voyage.villeArrivee }}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Date de depart</b></td>
                                    <td><b class="infos-voyage">{{ voyage.dateDepert }}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Date d'arrivée</b></td>
                                    <td><b class="infos-voyage">{{ voyage.dateArrivee }}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Heur du trajet</b></td>
                                    <td><b class="infos-voyage">{{ heur }}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="carte-visa">
                <div class="row">
                    <div class="col-md-5">
                        <div class="formulaire-paypal my-3">
                            <h4>Cliquez sur le boutton pour procéder au paiement</h4>
                            <div id="" class="no-uicustom barre bg-info mb-3"></div>
                            <!-- writes out the form tag automatically -->
                            <div class="mt-5">
                                <form action="" method="post">
                                    
                                </form>
                            </div>
                        </div>
                        <form action="{% url 'achat:success' pkv pku tag %}" method="post">
                            {% csrf_token %}
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="{{ key }}"
                                    data-description="Ticket de transport de {{ voyage.villeDepart }} à {{ voyage.villeArrivee }}"
                                    data-amount="{{ prix_visa }}"
                                    data-locale="auto">
                            </script>
                        </form>

                        <div class="text-center bg-primary mt-5 p-3 rounded">
                            <h3 class="text-white">{{voyage.prix}} KMF = {{prix|floatformat:2}} € = {{ prix_visa_info|floatformat:2 }} USD</h3>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <table class="table">

                            <thead>
                                <h4 class="bg-primary text-white p-2 rounded">Information de votre voyage</h4>
                            </thead>
                            <tbody>
                                <tr class="border-0">
                                    <td><b>Compagnie</b></td>
                                    <td><b class="infos-voyage">{{ voyage.agencePrincipal }}</b></td>
                                </tr>
                                <tr>
                                    <td><b class="">Ville de depart</b></td>
                                    <td><b class="infos-voyage">{{ voyage.villeDepart }}</b></td>
                                </tr>
                                <tr>
                                    <td><b class="">ville de destination</b></td>
                                    <td><b class="infos-voyage">{{ voyage.villeArrivee }}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Date de depart</b></td>
                                    <td><b class="infos-voyage">{{ voyage.dateDepert }}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Date d'arrivée</b></td>
                                    <td><b class="infos-voyage">{{ voyage.dateArrivee }}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Heur du trajet</b></td>
                                    <td><b class="infos-voyage">{{ heur }}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

{% endblock body %}

