<section class="ftco-section ftco-no-pt ftco-no-pb" id="carousel">
   <div class="container-fluid px-0">
      <div class="row no-gutters justify-content-center">
         <div class="col-md-12">
            <div id="demo" class="carousel slide" data-ride="carousel">

               <!-- Indicators -->
               <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
               </ul>
               <!-- The slideshow -->
               <div class="carousel-inner">
                  <div class="carousel-item active img"
                     style="background-image: url('{% static "images/bus.jpg" %}'); height: 750px;">
                     <div class="overlay"></div>
                     <div class="container">
                        <div class="row slider-text px-4 d-flex align-items-center justify-content-center">
                           <div class=" text w-100">
                              <h2 class="mb-4 text-info">Accès rapide aux tickets de transport inter-villes</h2>
                              <div id="" class="no-uicustom barre mb-5"></div>
                              <div class="row">
                                 <div class="col-md-7 col-sm-7 col-lg-7 col-12 justify-left">
                                    <p class="mb-4 text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                       Aut quae omnis nulla aperiam aspernatur voluptas explicabo nesciunt perspiciatis
                                       expedita voluptatibus?</p>
                                    <p class="mb-4 text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                       Aut quae omnis nulla aperiam aspernatur voluptas explicabo nesciunt perspiciatis
                                       expedita voluptatibus?</p>
                                 </div>
                                 <!-- <div class="col-md-5 col-sm-5 col-lg-5 mb-5">
                                     <h4>Consulter les tableaux de dords</h4>
                                     <div id="" class="no-uicustom barre mb-2"></div>
                                     <a href="" type="button" class="btn btn-info btn-formulaire-achat"
                                        data-toggle="modal" data-target="#tableau-bord-departs">Départs</a>
                                     
                                     <a href="" type="bytton"
                                        class="btn btn-info btn-formulaire-achat"
                                        data-toggle="modal" data-target="#tableau-bord-arrivees">Arrivées</a>
                                  </div> -->
                              </div>

                              <div id="" class="no-uicustom mb-4"></div>
                              <p>
                                 <div class="row text-center">
                                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 col-xl-4">
                                       <a href="" type="button" class="btn btn-secondary btn-formulaire-achat"
                                          data-toggle="modal" data-target="#bus">Bus</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 col-xl-4">
                                       <a href="" type="bytton" class="btn btn-secondary btn-formulaire-achat"
                                          data-toggle="modal" data-target="#avion">Avion</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 col-xl-4">
                                       <a href="" type="button" class="btn btn-secondary btn-formulaire-achat"
                                          data-toggle="modal" data-target="#bateau">Bateau</a>
                                    </div>
                                 </div>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item img"
                     style="background-image: url('{% static "images/interilaire.jpg" %}'); height: 700px;">
                     <div class="overlay"></div>
                     <div class="container">
                        <div class="row slider-text px-4 d-flex align-items-center justify-content-center">
                           <div class="text w-100">
                              <h2 class="mb-4">votre billet d'avion sur n'importe quelle île</h2>
                              <div class="row">
                                 <div class="col-md-7 col-sm-7 col-lg-7 col-12 justify-left">
                                    <p class="mb-4 text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                       Aut quae omnis nulla aperiam aspernatur voluptas explicabo nesciunt perspiciatis
                                       expedita voluptatibus?</p>
                                    <p class="mb-4 text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                       Aut quae omnis nulla aperiam aspernatur voluptas explicabo nesciunt perspiciatis
                                       expedita voluptatibus?</p>
                                 </div>
                                 <!-- <div class="col-md-5 col-sm-5 col-lg-5 h-100 text-right text-bottom">
                                     <h4>Consulter les tableaux de dords</h4>
                                     <a href="" type="button" class="btn btn-info btn-formulaire-achat"
                                        data-toggle="modal" data-target="#tableau-bord-departs">Départs</a>
                                     
                                     <a href="" type="bytton"
                                        class="btn btn-info btn-formulaire-achat"
                                        data-toggle="modal" data-target="#tableau-bord-arrivees">Arrivées</a>
                                  </div> -->
                              </div>
                              <!-- barre horizontale -->
                              <div id="" class="no-uicustom mb-4"></div>
                              <!-- les bouttons -->
                              <p>
                                 <div class="row text-center">
                                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 col-xl-4">
                                       <a href="" type="button" class="btn btn-secondary btn-formulaire-achat"
                                          data-toggle="modal" data-target="#bus">Bus</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 col-xl-4">
                                       <a href="" type="bytton" class="btn btn-secondary btn-formulaire-achat"
                                          data-toggle="modal" data-target="#avion">Avion</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 col-xl-4">
                                       <a href="" type="button" class="btn btn-secondary btn-formulaire-achat"
                                          data-toggle="modal" data-target="#bateau">Bateau</a>
                                    </div>
                                 </div>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item img"
                     style="background-image: url('{% static "images/bateau.jpg" %}'); height: 750px;">
                     <div class="overlay"></div>
                     <div class="container">
                        <div class="row slider-text px-4 d-flex align-items-center justify-content-center">
                           <div class="text w-100">
                              <h3 class="mb-4">Assurance voyage maritime</h3>
                              <div class="row">
                                 <div class="col-md-7 col-sm-7 col-lg-7 col-12 justify-left">
                                    <h4>Consulter les tableaux de dords</h4>
                                    <p class="mb-4 text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                       Aut quae omnis nulla aperiam aspernatur voluptas explicabo nesciunt perspiciatis
                                       expedita voluptatibus?</p>
                                    <p class="mb-4 text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                       Aut quae omnis nulla aperiam aspernatur voluptas explicabo nesciunt perspiciatis
                                       expedita voluptatibus?</p>
                                 </div>
                                 <!-- <div class="col-md-5 col-sm-5 col-lg-5 h-100 text-right text-bottom">
                                     <a href="" type="button" class="btn btn-info btn-formulaire-achat"
                                        data-toggle="modal" data-target="#tableau-bord-departs">Départs</a>
                                     
                                     <a href="" type="bytton"
                                        class="btn btn-info btn-formulaire-achat"
                                        data-toggle="modal" data-target="#tableau-bord-arrivees">Arrivées</a>
                                  </div> -->
                              </div>
                              <div id="" class="no-uicustom mb-4"></div>
                              <p>
                                 <div class="row text-center">
                                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 col-xl-4">
                                       <a href="" type="button" class="btn btn-secondary btn-formulaire-achat"
                                          data-toggle="modal" data-target="#bus">Bus</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 col-xl-4">
                                       <a href="" type="bytton" class="btn btn-secondary btn-formulaire-achat"
                                          data-toggle="modal" data-target="#avion">Avion</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 col-xl-4">
                                       <a href="" type="button" class="btn btn-secondary btn-formulaire-achat"
                                          data-toggle="modal" data-target="#bateau">Bateau</a>
                                    </div>
                                 </div>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="ion-ios-arrow-round-back"></span>
               </a>
               <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="ion-ios-arrow-round-forward"></span>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>