{% extends 'base/base.html' %}
{% load static %}

{% block title %}C-Transport | accueil{% endblock %}


{% block header %}

<!-- BOITE MODAL DE FORMULAIRE DES BUS -->
<section>
   <div class="modal fade" id="bus" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content dialog-modale-form">
            <div class="modal-header">
               <b class="modal-title" id="exampleModalLongTitle">Ticket de bus </b>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form action="{% url 'voyages:voyages' %}" method="GET">
               <div class="modal-body">
                  <div class="alert alert-info pb-1">
                     <div class="d-flex">
                        <p class="">Merci de bien remplire le formulaire</p>
                     </div>
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="ion-ios-close"></i></span>
                     </button>

                  </div>
                  {% csrf_token %}

                  <div class="input-group mb-3">
                     {{av.typev}}
                  </div>

                  <span>L'île où vous vous trouvez : </span>
                  <div class="input-group mb-3">
                     {{bu.ile}}
                  </div>

                  <div class="input-group mb-3">
                     <input type="hidden" name="" value="BU">
                  </div>

                  <span>Ville de départ : </span>
                  <div class="input-group mb-3">
                     {{bu.ville_depart}}
                  </div>

                  <span>Ville de destination : </span>
                  <div class="input-group mb-3">
                     {{bu.ville_destination}}
                  </div>

                  <span>Date de depart : </span>
                  <div class="input-group mb-3">
                     {{bu.date_depart}}
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                  <button type="submit" class="btn btn-info">Recherche mon ticket de transport</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>
<!-- Modal de formulaire de recherche de billet d'avion  -->
<section>
   <div class="modal fade" id="avion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content dialog-modale-form">
            <div class="modal-header">
               <b class="modal-title" id="exampleModalLongTitle">Ticket d'Avion </b>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form action="{% url 'voyages:voyages' %}" method="GET">
               <div class="modal-body">
                  {% csrf_token %}

                  <div class="input-group mb-3">
                     {{av.typev}}
                  </div>

                  <span>île de depart : </span>
                  <div class="input-group mb-3">
                     {{av.ville_depart}}
                  </div>

                  <span>île de destination </span>
                  <div class="input-group mb-3">
                     {{av.ville_destination}}
                  </div>

                  <span>Date de depart </span>
                  <div class="input-group mb-3">
                     {{av.date_depart}}
                  </div>

               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                  <button type="submit" class="btn btn-info">Recherche mon biellet</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>

<!-- Modal de formulaire de recherche de billet de bateau  -->
<section>
   <div class="modal fade" id="bateau" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content dialog-modale-form">
            <div class="modal-header">
               <b class="modal-title" id="exampleModalLongTitle">Ticket de Bateau </b>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form action="{% url 'voyages:voyages' %}" method="GET">
               <div class="modal-body">
                  {% csrf_token %}
                  <div class="input-group mb-3">
                     {{ba.typev}}
                  </div>
                  <span>Ville de depart : </span>
                  <div class="input-group mb-3">
                     {{ba.ville_depart}}
                  </div>

                  <span>Ville de destination : </span>
                  <div class="input-group mb-3">
                     {{ba.ville_destination}}
                  </div>

                  <span>Date de depart : </span>
                  <div class="input-group mb-3">
                     {{ba.date_depart}}
                  </div>

                  <div class="modal-footer">
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-info">Recherche mon billet</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>

<!-- Tableau de bord des arrivées -->
<section>
   <div class="modal fade" id="tableau-bord-arrivees" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content dialog-modale-form bg-white">
            <div class="modal-header tabulation-2 bg-info">
               <ul class="nav nav-pills nav-fill d-md-flex d-block w-100 text-white">
                  <li class="nav-item">
                     <a class="nav-link py-3" data-toggle="tab" href="#bateau-bord"><span
                           class="ion-ios-boat mr-2"></span>Bateau</a>
                  </li>
                  <li class="nav-item px-lg-2">
                     <a class="nav-link active py-3" data-toggle="tab" href="#avion-bord"><span
                           class="ion-ios-airplane mr-2"></span>Avion</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link py-3" data-toggle="tab" href="#bus-bord"><span class="ion-ios-bus mr-2"></span>
                        Bus</a>
                  </li>
               </ul>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">

               <div class="tab-content rounded mt-2">
                  <div class="tab-pane container p-4 fade" id="bateau-bord">
                     <!-- <h2 class="text-white">Bateau</h2> -->

                     <table class="table">
                        <thead>
                           <tr class="border-top-0">
                              <th>Departs</th>
                              <th>Destinations</th>
                              <th>Heures d'arrivé</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for heurb in heurbateau %}
                           <tr>
                              <td class="text-primary">{{ heurb.villeDepart }}</td>
                              <td class="text-primary">{{ heurb.villeArrivee }}</td>
                              <td><b class="text-warning">{{ heurb.dateArrivee|date }} à
                                    {{ heurb.dateArrivee|time }}</b></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
                  <div class="tab-pane container active" id="avion-bord">
                     <!-- <h2 class="text-white">Avion</h2> -->
                     <table class="table">
                        <thead>
                           <h5 class="text-bolder text-primary mt-2">Tableau des vols d'arivées</h5>
                           <tr class="text-primary">
                              <th class="border-top-0">Departs</th>
                              <th class="border-top-0">Destinations</th>
                              <th class="border-top-0">Heures d'arrivées</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for heura in heuravion %}
                           <tr>
                              <td class="text-primary">{{ heura.villeDepart }}</td>
                              <td class="text-primary">{{ heura.villeArrivee }}</td>
                              <td><b class="text-warning">{{ heura.dateArrivee|date }} à
                                    {{ heura.dateArrivee|time }}</b></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>


                  </div>
                  <div class="tab-pane container p-4 fade" id="bus-bord">
                     <!-- <h2 class="text-white">Bus</h2> -->
                     <table class="table">
                        <thead>
                           <tr>
                              <th>Departs</th>
                              <th>Destinations</th>
                              <th>Heures d'arrivé</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for heurbu in heurbus %}
                           <tr>
                              <td class="text-primary">{{ heurbu.villeDepart }}</td>
                              <td class="text-primary">{{ heurbu.villeArrivee }}</td>
                              <td><b class="text-warning">{{ heurbu.dateArrivee|date }} à
                                    {{ heurbu.dateArrivee|time }}</b></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-primary px-5" data-dismiss="modal">Fermer</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- Tableau de bord des départs -->
<section>
   <div class="modal fade" id="tableau-bord-departs" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content dialog-modale-form bg-white">
            <div class="modal-header tabulation-2 bg-info">
               <ul class="nav nav-pills nav-fill d-md-flex d-block w-100 text-white">
                  <li class="nav-item">
                     <a class="nav-link py-3" data-toggle="tab" href="#bateau-bord_"><span
                           class="ion-ios-boat mr-2"></span>Bateau</a>
                  </li>
                  <li class="nav-item px-lg-2">
                     <a class="nav-link active py-3" data-toggle="tab" href="#avion-bord_"><span
                           class="ion-ios-airplane mr-2"></span>Avion</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link py-3" data-toggle="tab" href="#bus-bord_"><span class="ion-ios-bus mr-2"></span>
                        Bus</a>
                  </li>
               </ul>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">

               <div class="tab-content rounded mt-2 text-primary">
                  <div class="tab-pane container p-4 fade" id="bateau-bord_">
                     <!-- <h2 class="text-white">Bateau</h2> -->

                     <table class="table">
                        <thead>
                           <h5 class="text-bolder text-primary mt-2">Tableau des vols de départs</h5>
                           <tr class="border-top-0">
                              <th>Departs</th>
                              <th>Destinations</th>
                              <th>Heures d'arrivé</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for heurb in heurbateau %}
                           <tr>
                              <td class="text-primary">{{ heurb.villeDepart }}</td>
                              <td class="text-primary">{{ heurb.villeArrivee }}</td>
                              <td><b class="text-warning">{{ heurb.dateDepert|date }} à
                                    {{ heurb.dateDepert|time }}</b></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
                  <div class="tab-pane container active" id="avion-bord_">
                     <!-- <h2 class="text-white">Avion</h2> -->
                     <table class="table">
                        <thead>
                           <h5 class="text-bolder text-primary mt-2">Tableau des vols de départs</h5>
                           <tr class="text-primary">
                              <th class="border-top-0">Departs</th>
                              <th class="border-top-0">Destinations</th>
                              <th class="border-top-0">Heures d'arrivées</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for heura in heuravion %}
                           <tr>
                              <td class="text-primary">{{ heura.villeDepart }}</td>
                              <td class="text-primary">{{ heura.villeArrivee }}</td>
                              <td><b class="text-warning">{{ heura.dateDepert|date }} à
                                    {{ heura.dateDepert|time }}</b></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>


                  </div>
                  <div class="tab-pane container p-4 fade" id="bus-bord_">
                     <!-- <h2 class="text-white">Bus</h2> -->
                     <table class="table">
                        <thead>
                           <h5 class="text-bolder text-primary mt-2">Tableau des départs des bus à la gars principale
                           </h5>
                           <tr>
                              <th>Departs</th>
                              <th>Destinations</th>
                              <th>Heures d'arrivé</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for heurbu in heurbus %}
                           <tr>
                              <td class="text-primary">{{ heurbu.villeDepart }}</td>
                              <td class="text-primary">{{ heurbu.villeArrivee }}</td>
                              <td><b class="text-warning">{{ heurbu.dateDepert|date }} à
                                    {{ heurbu.dateDepert|time }}</b></td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-primary px-5" data-dismiss="modal">Fermer</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- Header -->
<section class="img bg-image">
   <div class="container">
      <div class="row slider-text px-4 d-flex align-items-center justify-content-center">
         <div class=" text w-100 page-accueil mt-lg-5">
            <h2 class="text-warning titre-accueil animated fadeInLeft">Accès rapide aux tickets de transports partout
               aux Comores</h2>
            <div id="" class="no-uicustom barre mb-3 animated fadeInUp"></div>
            <div class="row">
               <div class="col-md-12 col-sm-12 col-lg-12 col-12 justify-left">
                  <div class="mb-5 description-accueil">
                     <p class="mb-2 animated fadeInLeft">Adoptez le type de transport selon votre destination </p>
                     <p class="mb-2 animated fadeInLeft">Choisissez la destination et les dates de votre prochain voyage
                     </p>
                     <p class="mb-2 animated fadeInLeft">Consultez les tableaux d'affichages des horaires des départs et
                        arrivées</p>
                     <p class="mb-5 animated fadeInLeft">Pour les voyages inter-îles, seuls les transports maritimes ou
                        aériens sont possibles</p>
                     <a href="#informations-supplementaire" class="btn btn-outline-warning px-lg-5 py-lg-3">Lire plus <i class="ion-ios-arrow-round-forward"></i> <i
                           class="ion-ios-arrow-round-forward"></i></a>
                  </div>
                  <div class="row animated fadeInUp">
                     <div class="col-md-4 col-sm-4 col-lg-4 col-4">
                        <h4 class="text-info description-bouton">Déplacement inter-villes</h4>
                        <a href="" type="button" class="btn btn-warning px-lg-5 py-lg-2" data-toggle="modal"
                           data-target="#bus">Bus</a>
                     </div>
                     <div class="col-md-8 col-sm-8 col-lg-8 col-8">
                        <h4 class="text-center text-info description-bouton">Déplacement inter-îles</h4>
                        <div class="d-flex justify-content-between">
                           <div class="">
                              <a href="" type="bytton" class="btn btn-primary px-lg-5 py-lg-2"
                                 data-toggle="modal" data-target="#avion">Avion </a>
                           </div>
                           <div class="">
                              <a href="" type="button" class="btn btn-info px-lg-5 py-lg-2"
                                 data-toggle="modal" data-target="#bateau">Bateau</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</section>



{% endblock %}
<!-- END section header -->

{% block body %}

<section class="container mt-5" id="informations-supplementaire">
   <hr class="fancy-line">
   <div class="row animated fadeInUp">
      <div class="col-md-12 heading-title mt-5">
         <h2 class="text-warning titre">C-Transports</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7 animated animated-fast">
         <p>
            <b>C-Transports :</b> la communauté s'engageant sur la facilitation de l'accès aux titres de trasports.
         </p>
         <p>
            On donne accès aux usagers de voyager avec différents réseaux de transports comoriens <br>
            Quelque soit le moyen de transport souhaité, C-Transports vous accompagne avec assurance
         </p>
      </div>
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 text-right">
         <img src="{% static "images/1.svg" %}" alt="Round Image" class="rounded img-fluid image-2 w-50 h-75">
      </div>
   </div>
</section>


<section class="">
   <div class="container-fluid">
      <div class="row bg-primary text-white">
         <div class="col-md-6 heading-title py-3 px-5">
            <h4 class="text-white">Paiement sans contact</h4>
            <div id="" class="no-uicustom bg-info barre mb-2"></div>
            <div class="d-flex justify-content-between">
               <p><i class="ion-ios-arrow-round-forward"></i> Rédure les déplacement en privilégiant le paiement sans contact<br>
                  <i class="ion-ios-arrow-round-forward"></i> Ticket de transport accésible à tout moment et n'importe où <br>
                  <i class="ion-ios-arrow-round-forward"></i> Transaction réalisable à tout moment
               </p>
               <img src="{% static "images/paiement-sans-contact.svg" %}" alt="QR code"
                  class="rounded img-fluid image-2 w-25 h-25">
            </div>
         </div>
         <div class="col-md-6 heading-title py-3 px-5">
            <h4 class="text-white">Ticket de transport sous forme de QR code</h4>
            <div id="" class="no-uicustom barre bg-info mb-2"></div>
            <div class="d-flex justify-content-between">
               <p>Le ticket sous forme de Code QR, permet de sécurisé vos données personnels</p>
               <img src="{% static "images/qr-code.png" %}" alt="Round Image"
                  class="rounded img-fluid image-2 w-25 h-25">
            </div>
         </div>
      </div>
   </div>
</section>


<!-- Nos services -->
<section class="mt-5 mb-5 container">
   <div class="row">
      <div class="col-md-12 heading-title">
         <h2 class="titre text-warning">Moyen de transports</h2>
         <div id="" class="no-uicustom barre mb-5"></div>
      </div>
   </div>
   <div class="row">
      <div class="col-12 col-sm-6 col-md-4 mb-2 col-lg-4 col-xl-4">
         <div class="card text-left">
            <div class="pt-5">
               <img class="card-img-top" src="{% static "images/stb.svg" %}" alt="">
            </div>
            <div class="card-body">
               <h4 class="card-title">Transports terrestres</h4>
               <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                  enim dolorum vero. Doloribus, aliquam iure id fugiat dolorum beatae recusandae.</p>
            </div>
         </div>
      </div>
      <div class="col-12 col-sm-6 mb-2 w-75 col-md-4 col-lg-4 col-xl-4">
         <div class="card text-left">
            <div class="pt-2">
               <img class="card-img-top" src="{% static "images/av.svg" %}" alt="">
            </div>
            <div class="card-body">
               <h4 class="card-title">Transports aériens</h4>
               <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
                  animi assumenda soluta atque debitis adipisci numquam nemo voluptatibus optio qui!</p>
            </div>
         </div>
      </div>
      <div class="col-12 col-sm-6 mb-2 col-md-4 col-lg-4 col-xl-4">
         <div class="card text-left">
            <img class="card-img-top" src="{% static "images/ba.svg" %}" alt="">
            <div class="card-body">
               <h4 class="card-title">Trasports maritimes</h4>
               <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                  omnis modi asperiores! Soluta eius et quia, esse animi laudantium voluptate.</p>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- Les modes de paiement -->
<section class="mt-5 mb-5 container">
   <div class="description-paiement">
      <div class="col-md-12 heading-title">
         <h2 class="text-warning titre">Modes de paiement</h2>
         <div id="" class="no-uicustom barre mb-5"></div>
      </div>
      <div class="paragraphe-description-paiement text-center mb-5">
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, dolorum!</p>
      </div>
   </div>
   <div class="row">
      <div class="col-12 col-sm-4 col-md-4 mb-2 col-lg-4 col-xl-4">
         <div class="card text-left">
            <div class="pt-5">
               <img class="card-img-top w-75" src="{% static "images/mp.svg" %}" alt="">
            </div>
            <div class="card-body">
               <h4 class="card-title">Paiement mobile</h4>
               <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam,
                  voluptatibus.</p>
            </div>
         </div>
      </div>
      <div class="col-12 col-sm-4 mb-2 w-75 col-md-4 col-lg-4 col-xl-4">
         <div class="card text-left">
            <img class="card-img-top text-center" src="{% static "images/cart-credit.svg" %}" alt="">
            <div class="card-body">
               <h4 class="card-title">Paiement PyPal</h4>
               <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam,
                  voluptatibus.</p>
            </div>
         </div>
      </div>
      <div class="col-12 col-sm-4 mb-4 col-md-4 col-lg-4 col-xl-4">
         <div class="card text-left">
            <div class="pt-5">
               <img class="card-img-top" src="{% static "images/carte-credit.svg" %}" alt="">
            </div>
            <div class="card-body">
               <h4 class="card-title">Paiement par cart</h4>
               <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam,
                  voluptatibus. </p>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- formulaire de contacte -->
<section class="mt-5 container">
   <div class="col-md-12 heading-title">
      <h1 class="text-warning titre">Contactez-nous pour plus d'infos</h1>
      <div id="" class="no-uicustom barre mb-5"></div>
   </div>
   {% if statuscontact == 1 %}
   <div class="alert alert-info pb-1">
      <div class="container-fluid">
         <div class="d-flex">
            <p class="">Merci pour votre message ! Une réponse vous sera envoyée dans les plus brefs délais !</p>
         </div>
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="ion-ios-close"></i></span>
         </button>
      </div>
   </div>
   {% endif %}

   <!-- Message non envoyé -->
   {% if statuscontact == 0 %}
   <div class="alert alert-info pb-1">
      <div class="container-fluid">
         <div class="d-flex">
            <p class="">Le message n'a pas été envoyé, merci de vérifier les informations que vous avez saisis</p>
         </div>
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="ion-ios-close"></i></span>
         </button>
      </div>
   </div>
   {% endif %}
   <div class="row">
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 ">
         <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
               <div class="col-6">
                  <label for="">Votre nom complet : </label>
                  <div class="input-group mb-3">
                     {{cf.nom}}
                  </div>
               </div>
               <div class="col-6">
                  <label for="">Numéro de téléphone actif</label>
                  <div class="input-group mb-3">
                     {{cf.telephone}}
                  </div>
               </div>
               <div class="col-6">
                  <label for="">Adresse électronique</label>
                  <div class="input-group mb-3">
                     {{cf.email}}
                  </div>
               </div>
               <div class="col-6">
                  <label for="">Titre du message</label>
                  <div class="input-group mb-3">
                     {{cf.sujet}}
                  </div>
               </div>
               <div class="col-12">
                  <label for="" class="label-form">Votre message bien détaillé</label>
                  <div class="input-group mb-3">
                     {{cf.message}}
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-end mb-5">
               <button type="submit" class="btn btn-primary py-3 px-5">Envoyez le messages</button>
            </div>
         </form>
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
         <address class="adresse animated">
            <span class="info-adresse"> <span class="ion-ios-home pr-3 text-primary"></span> Bandracouni Anjouan (Comores)</span> <br> <br>
            <span class="info-adresse"> <span class="ion-ios-pin pr-3 text-primary"></span> Bandrani, en face du lycée privé Jules Ferry</span> <br> <br>
            <span class="info-adresse"> <samp class="ion-ios-call pr-3 text-primary"></samp> Téléphoen : (+269) 3000000 | (+269) 4000000</span> <br> <br>
            <span class="info-adresse"> <span class="ion-ios-beaker pr-3 text-primary"></span> RN2 BP : 0000 </span> <br> <br>
            <span class="info-adresse"> <span class="ion-ios-mail pr-3 text-primary"></span> E-mail : c-transport@c-transport.com</span>
         </address>
      </div>
   </div>
</section>

{% endblock body %}