{% extends 'base/base.html' %}
{% load static %}


{% block header %}

<section>
    <div class="container">
        <div class="row slider-text px-4 d-flex align-items-center justify-content-center">
            <div class=" text w-100 page-accueil">
                <h2 class="text-primary titre-accueil animated fadeInLeft">Connectez-vous pour plus des pivilèges</h2>
                <div id="" class="no-uicustom barre mb-3 animated fadeInUp"></div>
                <section class="container my-5">
                    <div class="">
                        <div class="row">
                            <div class="offset-1 col-md-6 col-sm-6 col-lg-6 col-12">
                                <img src="{% static "images/login.svg" %}" alt="Round Image"
                                    class="rounded img-logine img-fluid animated fadeInLeft image-2 w-75 h-75">
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4 col-12">
                                <div class="card  animated fadeInRight">
                                    <form method="post" action="">
                                        <div class="card-body">
                                            <h4 class="text-center"> <b>Conectez vous</b></h4>
                                            {% if form.errors %}
                                            <p class="text-danger">Désolé ! les Identifiants sont incorrects</p>
                                            {% endif %}

                                            {% if next %}
                                                {% if user.is_authenticated %}
                                                    <p>Your account doesn't have access to this page. To proceed,
                                                    please login with an account that has access.</p>
                                                {% else %}
                                                    <p>Please login to see this page.</p>
                                                {% endif %}
                                            {% endif %}

                                            {% csrf_token %}
                                            
                                            <span>{{ form.username.label_tag }}</span> <br>
                                            <span class="border-0 w-100">{{ form.username }}</span><br>
                                            <span>{{ form.password.label_tag }}</span><br>
                                            <span class="">{{ form.password }}</span>

                                            {% if form.errors %}
                                            <div class="d-flex justify-content-between py-4">
                                                <a href="{% url 'infos:password' %}">Mot de passe oublié ?</a>
                                                <a href="">Demandez l'accès </a>
                                            </div>
                                            {% endif %}

                                            <div class="text-center mt-5">
                                                <input type="submit" class="px-5 btn btn-primary" value="Me connecter" />
                                                <input type="hidden" name="next" value="{{ next }}" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

{% endblock header %}


{% block body %}


{% endblock body %}