{% extends 'base/base.html' %}
{% load static %}


{% block header %}

<section>
    <div class="container">
        <div class="row slider-text px-4 d-flex align-items-center justify-content-center">
            <div class=" text w-100 page-accueil">
                <h2 class="text-primary titre-accueil animated fadeInLeft">Connectez-vous pour plus des pivilèges</h2>
                <div id="" class="no-uicustom barre mb-3 animated fadeInUp"></div>
                <section class="container my-5">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 col-12">
                                <img src="{% static "images/login.svg" %}" alt="Round Image"
                                    class="rounded img-fluid animated fadeInLeft image-2 w-75 h-75">
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6 col-12">
                                <div class="card">
                                    <div class="card-header bg-primary">
                                        <h4 class="text-white">Conectez vous</h4>
                                    </div>
                                    <form method="GET" action="">
                                        <div class="card-body">
                                            {% csrf_token %}
                                            
                                            <div class="form-group">
                                                <span>Adresse email de l'agence</span>
                                                {{formulaire.adresseEmail}}
                                            </div>
                                            <div class="form-group">
                                                <span>Mot de passe</span>
                                                {{ formulaire.mdp }}
                                            </div>
                                            {% if erreur == True %}
                                            <div class="d-flex justify-content-between">
                                                <a href="{% url 'infos:password' %}">Mot de passe oublié ?</a>
                                                <a href="">Demandez l'accès </a>
                                            </div>
                                            {% endif %}
                                            {% if erreur == False %}
                                            <div class="text-danger">
                                                <p>Identifiant incorrects</p>
                                            </div>
                                            {% endif %}

                                        </div>
                                        <div class="card-footer d-flex justify-content-end">
                                            <input type="submit" class="px-5 btn btn-primary" value="Me connecter" />
                                            <input type="hidden" name="next" value="{{ next }}" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <hr>
</section>

{% endblock header %}


{% block body %}


{% endblock body %}