{% extends 'base/base.html' %}
{% load static %}
{% load qr_code %}


{% block header %}

<section class="">
    <div class="container">
        <div class="row slider-text px-4 d-flex align-items-center justify-content-center">
            <div class=" text w-100 page-accueil">
                <h4 class="text-primary page-accueil">Remerciement </h4>
                <div id="" class="no-uicustom barre mb-3"></div>

            </div>
        </div>
    </div>
</section>

{% endblock header %}




{% block body %}

<div class="container">
    <div class="alert alert-info">
        <b class="text-white mb-2">Merci d'avoir privilégié notre service pour l'achat de votre ticket de transport </b> <br>
        <p>Pour toutes vos questions, merci de nous les poser sur <a href="">cette page</a> ou si vous avez des suggestions
            particuliers pour notre service <br> on vous tient au courant 👌 </p>
        <h4 class="text-warning titre">Merci et excellent voyage à vous ! </h4>
    </div>
    <div class="row">
        <div class="col-md-5">
            {% qr_for_contact contact_detail=contact_detail size='S' %}
        </div>
        <div class="col-md-7">
            <b> ➡ Merci de capturer le QR code, ou le télécharger</b> <br><br>
            <b> ➡ Il est aussi disponible dans votre boite emal</b>

            <p class="text-primary">💜 Inter île air vous souhaite de passer un excellent voyage</p>

        </div>
    </div>

    
</div>

{% endblock body %}